type = "standalone"

[standalone]
username = "Administrator"
password = "password"
conn-string = "10.112.212.101"
default_bucket = "default"
default_scope = "_default"
default_collection = "_default"

