[package]
name = "rscbx_couchbase_core"
version = "0.1.0"
edition = "2021"

[dependencies]
tokio = { version = "1.38", features = ["full"] }
tokio-util = { version = "0.7", features = ["codec"] }
tokio-rustls = { version = "0.25" }
thiserror = "1.0"
futures = "0.3.30"
log = "0.4.20"
uuid = { version = "1.7.0", features = ["v4"] }
byteorder = "1.5"
bytes = "1.5.0"
hmac = "0.12"
sha1 = "0.10"
sha2 = "0.10"
rand = "0.9.0-alpha.1"
base64 = "0.22.1"
webpki = "0.22.4"

[dev-dependencies]
env_logger = "0.11"

[lints.rust]
# This is temporary whilst we build out the root modules.
unused = "allow"
